<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
    </div>
    <div class="footer-container">
        <h2>&copy; CoreCode; <%= new Date().getFullYear() %>
        </h2>
    </div>
</footer>
</body>
</html>